[Unit]
Description=Apache NiFi
After=syslog.target network.target

[Service]
User=nifi
Type=forking
# Run ExecStartPre with root-permissions
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/run/nifi
ExecStartPre=/usr/bin/chown -R nifi:nifi /var/run/nifi
ExecStart=/usr/lib/nifi-server/bin/nifi.sh start
ExecStop=/usr/lib/nifi-server/bin/nifi.sh stop

[Install]
WantedBy=multi-user.target