[Unit]
Description=schema-registry
Requires=network.target

[Service]
Type=forking
WorkingDirectory=/usr/lib/schema-registry
User=schema-registry
Group=kafka
ExecStart=/usr/lib/schema-registry/bin/schema-registry-start /etc/schema-registry/schema-registry.properties
ExecReload=/bin/kill -HUP $MAINPID
ExecStartPre=/bin/mkdir -p /run/schema-registry
ExecStartPre=/bin/chown schema-registry:kafka /run/schema-registry
ExecStartPre=/bin/chmod 755 /run/schema-registry
Restart=no
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target
